{% extends 'generator/base.html' %}

{% block content %}

<div class="container">
    <h1 style="text-align: center;">🛡️ Secure Password Generator 🔑</h1>
    <hr>
    <div class="alert alert-success" role="alert">
        {{ password }}
    </div>

    <a href="{% url 'home' %}" type="button" class="button btn btn-secondary">Home</a>
</div>

<style>
    div {
        display: block;
        font-family: 'Recursive', sans-serif;
        font-size: 14px;
    }

    .container {
        width: 900px;
        margin: 15px auto;
        padding: 15px 30px 10px 30px;
        background: #ffffff;
        line-height: 23px;
        border: 1px solid #dfdfdf;
        border-radius: 10px 10px;
        overflow: hidden;
    }

    .button {
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
    }
</style>
{% endblock %}